<p id="notice"></p>
<% if @customer.errors.any? %>
 <div id="error_explanation">
  <ul style="color: red">
   <h3 class="mt-5 ml-5"><%= @customer.errors.count %> error prphibited this obj from being saced:</h3>
   <% @customer.errors.full_messages.each do |message| %>
    <li class="mt-3 ml-5"><%= message %></li>
   <% end %>
  </ul>
 </div>
<% end %>
<div class="customer-tag">
 <h3 class="bg-light text-center">会員情報編集</h3>
</div>

<%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>
 <div class="d-flex align-items-center field customer-field">
  <div class=""><%= f.label :name , "氏名", class: "mb-auto customer-field-tag" %></div>
  <div><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></div>
  <div><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "mx-5" %></div>
 </div>

 <div class="d-flex align-items-center field customer-field">
  <div class=""><%= f.label :name_kana , "フリガナ", class: "mb-auto customer-field-tag" %></div>
  <div><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></div>
  <div><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "mx-5" %></div>
 </div>

 <div class="d-flex align-items-center field customer-field">
  <div><%= f.label :postal_code , "郵便番号(ハイフンなし)", class: "mb-auto customer-field-tag" %></div>
  <div><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></div>
 </div>

 <div class="d-flex align-items-center field customer-field">
  <div><%= f.label :address , "住所", class: "mb-auto customer-field-tag" %></div>
  <div><%= f.text_field :address, autofocus: true, autocomplete: "address", size: 60 %></div>
 </div>

 <div class="d-flex align-items-center field customer-field">
  <div><%= f.label :telephone_number , "電話番号(ハイフンなし)", class: "mb-auto customer-field-tag" %></div>
  <div><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></div>
 </div>

 <div class="d-flex align-items-center field customer-field">
  <div><%= f.label :email , "メールアドレス", class: "mb-auto customer-field-tag" %></div>
  <div><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
 </div>

 <div class="customer-field d-flex align-items-center">
  <div class="actions"><%= f.submit "編集内容を保存", class: 'btn btn-success customer-submit-m' %></div>
  <div class=""><%= link_to "退会する", customers_confirmation_path, class: 'btn btn-danger customer-con-m' %></div>
 </div>
<% end %>

