<p id="notice"></p>
<% if @address.errors.any? %>
 <div id="error_explanation">
  <ul style="color: red">
   <h3 class="mt-5 ml-5"><%= @address.errors.count %> error prphibited this obj from being saced:</h3>
   <% @address.errors.full_messages.each do |message| %>
    <li class="mt-3 ml-5"><%= message %></li>
   <% end %>
  </ul>
 </div>
<% end %>
<div class="address-tag">
 <h3 class="bg-light text-center">配送先編集</h3>
</div>

  <%= form_with model: @address, url: address_path(@address), method: :patch do |f| %>
 <div class="d-flex field align-items-center address-field">
  <div class=""><%= f.label :address , "郵便番号(ハイフンなし)", class: "mb-auto address-field-tag" %></div>
  <div><%= f.text_field :address, autofocus: true, autocomplete: "address" %></div>
 </div>

 <div class="d-flex field align-items-center address-field">
  <div class=""><%= f.label :postal_code, "住所", class: "mb-auto address-field-tag" %></div>
  <div><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", size: 50 %></div>
 </div>

 <div class="d-flex field align-items-center address-field">
  <div class=""><%= f.label :name, "宛名", class: "mb-auto address-field-tag" %></div>
  <div><%= f.text_field :name, autofocus: true, autocomplete: "name" %><%= f.submit '変更を保存', class: 'btn btn-success address-new-m' %></div>
 </div>
<% end %>