<table>
 <thead>
 </thead>
 <tbody>
  <tr>
  <td></td>
  <td><%= @item.name %></td>
  <td><%= @item.introduction %></td>
  <td>¥<%= @item.price.to_s(:delimited) %>(税込)</td>
 </tbody>
 </tr>
</table>
<%= form_with model: @cart_item, url: cart_items_path do |f| %>
 <% if customer_signed_in? %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
 <% end %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる" %>
<% end %>
