<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div>
     <h1>LOGO</h1>
    </div>
    <ul>
     <% if customer_signed_in? %>
       <li class="nav-item">
        <%= link_to customer_path(current_customer.id) do %>
         <i class="class"></i> マイページ
        <% end %>
       </li>
       <li class="nav-item">
        <%= link_to items_path do %>
         <i></i> 商品一覧
        <% end %>
       </li>
       <li  class="nav-item">
        <%= link_to cart_items_path do %>
         <i></i> カート
        <% end %>
       </li>
       <li class="nav-item">
        <%= link_to destroy_customer_session_path, method: :delete do %>
         <i></i> ログアウト
        <% end %>
       </li>

       <% elsif admin_signed_in? %>
          <li  class="nav-item">
           <%= link_to admin_items_path, class: 'class' do %>
           <i class="class"></i> 商品一覧
          <% end %>
          </li>
          <li class="nav-item">
           <%= link_to admin_customers_path do %>
            <i></i> 会員一覧
           <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_root_path do %>
           <i></i> 注文履歴一覧
          <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_genres_path do %>
           <i></i> ジャンル一覧
          <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete do %>
           <i></i> ログアウト
          <% end %>
          </li>

          <% else %>
          <li  class="nav-item">
           <%= link_to about_path, class: 'class' do %>
           <i class="class"></i> About
          <% end %>
          </li>
          <li class="nav-item">
           <%= link_to items_path do %>
            <i></i> 商品一覧
           <% end %>
          </li>
          <li class="nav-item">
           <%= link_to new_customer_registration_path do %>
            <i></i> 新規登録
           <% end %>
          </li>
          <li class="nav-item">
           <%= link_to new_customer_session_path do %>
            <i></i> ログイン
           <% end %>
          </li>
         <% end %>
     </ul>
    <div>
     <form id="form2" action="/" method="get">
      <input id="sbox2"  id="s" name="s" type="text" placeholder="Search"/>
      <button type="submit" id="sbtn2"><i class="fa fa-search"></i></button>
     </form>
    </div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
